/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------ General Styles ------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------ Hero Section ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.hero {
  height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 30vh 0;
}
  
.hero h1 {
  font-size: 4rem;
  margin: auto;
  padding: 0;
  text-shadow: 2px 2px 2px #000000;
}

.hero p {
  font-size: 2rem;
  text-shadow: 2px 2px 2px #000000;
  font-style: italic;
}
  
.hero p span.typed-text {
  color: #d9ff00;
}

.hero p span.cursor {
  display: inline-block;
  margin-left: 0.3rem;
  width: 2px;
  animation: blink 1s infinite;
}

.hero p span.cursor.typing {
  animation: none;
}

.hero p span.cursor {
  display: inline-block;
  background-color: #000000;
  margin-left: 0.3rem;
  width: 2px;
  animation: blink 1s infinite;
}

.hero p span.cursor.typing {
  animation: none;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10vh;
  background-color: #161625;
  color: #08fdd8;;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite;
  z-index: 25;
  position: relative;
}
  
.cta-button:hover {
  transform: translateY(-5px);
  background-color: #08fdd8;
  color: #161625;
}
  
header svg {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	box-sizing: border-box;
	display: block;
}

#fade-in {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(to top, #161625, rgba(73,73,73,0));
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------- Features Section ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.features {
  background-color: #161625;
  text-align: center;
}
  
.feature-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
}
  
.feature {
  background-image: linear-gradient(var(--rotate), #5ddcff2d, #3c66e33f 43%, #4e00c23a);
  animation: spin 5.5s linear infinite;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  min-height: 150px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  z-index: 20;
}
  
.feature:hover {
  transform: scale(1.05);
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 5.5s linear infinite;
  border: 2px solid white;
}
  
.feature-icon {
  font-size: 2rem;
  color: #08fdd8;
}

.feature h3 {
  margin: 15px 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- CTA ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

#fade-out {
  position: relative;
  width: 100%; 
  height: 25vh;
  background-image: linear-gradient(to bottom, #161625, rgba(73, 73, 73, 0));
  z-index: 15;
}

#contact-us svg {
	position: absolute;
  transform: rotate(180deg);
  z-index: 10;
  width: 100%;
	box-sizing: border-box;
	display: block;
}

#contact-us-form {
  position: relative;
  z-index: 20;
}

#contact-us form { 
  max-width: 35em;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

#contact-us .feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #0f111298;
  border:2px solid #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline:0;
}

#contact-us .feedback-input:focus { border:2px solid #08fdd8; }

#contact-us textarea {
  height: 350px;
  line-height: 150%;
  resize:vertical;
}

#contact-us [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: white;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight:700;
}

#contact-us [type="submit"]:hover { background:#08fdd8; }

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------- Animations -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes glow {from {text-shadow: 0 0 10px #08fdd8, 0 0 20px #08fdd8} to {text-shadow: 0 0 20px #08fdd8, 0 0 40px #08fdd8;}}
@keyframes pulse {0%, 100% {box-shadow: 0 0 10px #08fdd84b, 0 0 20px #08fdd823;} 50% {box-shadow: 0 0 20px #08fdd813, 0 0 30px #08fdd859;}}
@keyframes spin {0% {--rotate: 0deg;} 100% {--rotate: 360deg;}}
@keyframes rotate {from { transform: rotate(0deg); }to { transform: rotate(360deg); }}
@property --rotate {syntax: "<angle>"; initial-value: 132deg; inherits: false;}
@-webkit-keyframes blink {0%  { background-color: #ccc; } 49% { background-color: #ccc; } 50% { background-color: transparent; } 99% { background-color: transparent; } 100%  { background-color: #ccc; }}
@keyframes blink {0%  { background-color: #ccc; } 49% { background-color: #ccc; } 50% { background-color: transparent; } 99% { background-color: transparent; } 100%  { background-color: #ccc; }}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------- Multi-Media ------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 450px) {
  .hero {
    padding: inherit 5px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.5rem;
  }
  .cta-button {
    font-size: 1rem;
  }
  #features, #contact-us-form {
    padding: 0 10px;
  }
}


